body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

#main-header {
    /*position: relative;*/
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    /*position: relative;*/
    /*top: 45px;*/
    /*left: 120px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 50%;
    box-sizing: border-box;
}


#photo-header {
    /*position: relative;*/
    /*width: 720px;*/
    height: 907px;
    left: 4%;
    width: 50%;
}



#header-poster {
    position: absolute;
    border-radius: 0 0 0 80px;
    z-index: -1;
}

.navbar {
    position: relative;
    /*width: 50%;*/
    top: 46px;
    /*left: 70px;*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-weight: 600;
}

.navbar button {
    width: auto;
    height: 45px;
    padding: 12px 24px;
    border-radius: 32px;
    color: #047857;
    background-color: #D1FAE5;
    border: none;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
}

.navbar-links {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.links-in-navbar {
    text-decoration: none; /* Remove default underline */
    border: 1px solid white;
    width: auto;
    height: auto;
    padding: 8px 16px;
    border-radius: 32px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: "Lexend", sans-serif;
}

.navbar-links select {
    background-color: transparent;
    font-family: "Lexend", sans-serif;

}







.avatar {
    width: 56px;
    height: 56px;
    border: 3px solid white; /* Added 'solid white' to specify border style and color */
    border-radius: 50%;
}


.spans-avatar {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px 0 10px;
}

.spans-avatar span{
    padding: 2px;
    display: flex;
    /*flex-direction: row;*/
}

.spans-avatar :last-child {
    font-size: 12px;
    font-weight: 400;
    color: #68799F;
}


.white-blocks-avatars {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 58%;
    width: 900px;
    justify-content: space-between;
}

.white-block {
    padding: 24px 0;
    width: auto;
    justify-content: space-between;
    /*margin-left: 20px;*/
    height: auto;
    border-radius: 32px;
    background-color: white;
    color: #1B1C57;
    display: flex;
    flex-direction: row;
    /*position: relative;*/
    /*padding: 30px;*/

}

.fif-houses {
    padding-left: 24px;
}


.avatar-container {
    position: relative;
    padding-left: 150px;
    /*margin-left: 0;*/
    /*padding-left: -20px;*/
    /*position: absolute;*/
    /*width: 200px;*/

    /*height: 25px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin: 15px 0 15px 0;*/
    /*top: 15%; !* Adjust top position as needed *!*/
    /*left: 0; !* Adjust left position as needed *!*/

}

.avatar-container #first {
    left: 24px;
    position: absolute;
}

.avatar-container #second {
    left: 52px;
    position: absolute;
}

.avatar-container #third {
    position: absolute;
    left: 80px;
}


/*#small-house {*/
/*    border-radius: 24px;*/
/*    width: 56px;*/
/*    height: 56px;*/
/*}*/









#logo-at-first {
    position: relative;
    /*top: 45px;*/
    /*left: 120px;*/
}

.welcome-text {
    width: 520px;
    display: inline-block;
    font-weight: 700;
    color: #1B1C57;
    text-align: left;
    /*border: solid black 1px;*/
    /*line-height: 28;*/
}
.welcome-text h1{
    font-size: 40px;
}


div.welcome-text span{
    line-height: 2;
    font-weight: 400;
    font-size: 16px;
    color: #626687;

}

/*.partner-links {*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/

.search-location {
    display: flex;
    flex-direction: row;
    width: 486px; /* Fixed width */
    /*width: 75%;*/
    height: fit-content; /* Hugs content height */
    padding: 4px 0; /* Padding: top, right, bottom, left */
    border-radius: 32px; /* Border radius */
    gap: 16px; /* Gap between elements */
    border: 1px solid #E0E3EB;
    margin: 35px 0;
}

form input {
    font-size: 14px;
    font-weight: 500;
    border: none;
    width: 300px;
    font-family: "Lexend", sans-serif;
}

.button-search {
    background-color: #10B981;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border: none;
    border-radius: 32px; /* Rounded corners */
    font-family: "Lexend", sans-serif;
    height: 48px;
}

#button-last {
    height: 48px;
    /*padding-left: 20px;*/
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-right: 5px;
}

.button-search img {
    /*margin-left: 5px; !* Adjust spacing as needed *!*/
    padding-left: 10px;
}


.search-field {
    padding: 10px 4px 10px 24px; /* Padding: top, right, bottom, left */
    display: flex;
    align-items: center; /* This centers the content vertically */
    gap: 10px;
    color: #888B97;
    font-family: "Lexend", sans-serif;
}

.search-field {
    font-family: "Lexend", sans-serif;
}


.icons {
    height: 24px;
    width: 24px;
}


#partners {
    margin: 40px 0;
}
#partners span {
    color: #888B97;

}

#partners div {
    width: 427px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

#partners div img {
    width: 90px;
}




/*#main-header {*/
/*    position: relative;*/
/*    top: 45px;*/
/*    left: 120px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 50%;*/
/*}*/

.section {
    /*position: relative;*/
    /*left: 120px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-left: 100px;

    /*padding-right: 100px;*/
    /*padding-top: 50px;*/
}

#one {
    margin-bottom: 200px;
}




.div-with-line {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align content vertically */
    gap: 15px; /* Create a gap between elements */
}

#span-with-hr {
    color: #626687;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 420px;
    padding: 16px 0 16px 47px;
}



hr {
    text-align: left;
    margin: 0;
    border: none; /* Remove the default border */
    border-top: 1px solid #F59E0B; /* Add a solid border on top */
    width: 32px;
    height: 1px;
}

.div-with-line span {
    color: #F59E0B;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.header-with-line {
    font-size: 32px;
    display: flex;
    flex-direction: column;

}

.header-with-line h2{
    color: #1B1C57;
    position: relative;
    padding-left: 47px;
    margin: 0;
    font-size: 32px;
    padding-top: 20px;
}


.header-section-1 {
    display: flex;
    flex-direction: row;
    /*gap: 100px;*/
    justify-content: space-between;
    width: 100%;
    /*border: solid black 1px;*/
    align-items: end;
    margin-bottom: 70px;

}

#house-villa-apart {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*width: 33%;*/
    gap: 32px;
    color: #888B97;
    /*width: 35%;*/
}

.green-icons#firsted {
    color: #10B981;
    background-color: #D1FAE5;
    border: none;
}


.green-icons {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 27px;
    padding: 12px 24px 12px 24px;
    border-radius: 32px;
    gap: 8px;
    border: 1px solid #E0E3EB;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}

/*.green-icons img {*/

/*}*/


#arrows {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    gap: 20px;
    /*width: 10%;*/
    height: 52px;
    padding-right: 100px;
}
#arrows button {
    /*width: auto;*/
    /*height: 45px;*/
    padding: 12px 26px;
    border-radius: 32px;
    border: none;
    font-size: 14px;
    /*margin-left: 100px;*/

}

#left-arrow {
    background-color: #E0E3EB;
}

#right-arrow {
    background-color: #10B981;
}


.container-with-articles {
    /*border: solid black 1px;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 47px;
}

.article {
    padding: 0 30px;
}

.article:first-child{
    padding: 0 30px 0 0;
}


.houses-in-section-2 {
    /*width: 340px;*/
    /*height: 382px;*/
    position: relative;
}

.img-in-section-2 {
    width: 340px;
    height: 382px;
    /*z-index: -1;*/
    position: relative;
}

.popular-and {
    position: absolute;
    top: 330px; /* Adjust top position as needed */
    left: 16px; /* Adjust left position as needed */
    /*bottom: 10%;*/
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
    background: #FEE2E2;
    color: #EF4444;
    font-size: 14px;
    font-weight: 500;
}
.houses-in-section-2 :first-child{
    border-radius: 24px;
}
#blue-house {
    color: #1D4ED8;
    background-color: #DBEAFE;
}

#deals {
    color: #047857;
    background-color: #D1FAE5;
}

.name-price {
    color: #0E1735;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    gap: 8px;
}


.name-price :last-child {
    color: #3C4563;
    font-size: 20px;
}


.name-city-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.name-city-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.name-city-avatar div {
    display: flex;
    flex-direction: column;
    color: #0E1735;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    padding-left: 24px;
    gap: 4px;
}

.name-city-avatar div :last-child {
    color: #888B97;
    font-size: 14px;
}






#left-to-video {
    /*padding-left: 47px;*/
    width: 50%;
    margin-bottom: 32px;
}


#left-to-video :first-child {
    color: #1B1C57;
    font-size: 16px;
}



#section-2 {
    display: flex;
    flex-direction: row;
}



#video-section {
    /*border: solid black;*/
    top: -200px;
    width: 50%;
    position: relative;
    /*display: flex;*/
    /*flex-direction: row;*/
}

video {
    position: absolute;
    width: 488px;
    height: auto;
    border-radius:  4px;
    padding-left: 100px;
    padding-top: 200px;
    z-index: -1;
}

.images-with-video {
    width: 96px;
    height: 80px;
    position: absolute;
    padding-left: 60px;
    padding-top: 428px;
    border-radius:  4px;
}

#video-section :nth-child(2) {
    width: 296px;
    height: 168px;
    padding-top: 340px;
}

#video-section :nth-child(3) {
    padding-left: 370px;
}

#video-section :nth-child(4) {
    padding-left: 480px;
}

#four-logos {
    width: 413px;
    height: 70px;
    display: flex;
    padding: 24px 0 28px 47px;
    flex-direction: row;
    justify-content: space-between;
}

/*#four-logos :first-child{*/
/*    */
/*}*/



.two-two-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;

}

#house-detail {
    padding-left: 47px;
    font-weight: 600;

}

#big-hr {
    padding-left: 47px;
    width: 393px;
    height: 2px;
    border-top: 2px solid #F0F3FD; /* Add a solid border on top */
}

#div-big-hr {
    padding-left: 47px;
}

#under-line {
    width: 440px;
    height: 56px;
    padding-left: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
}


#name-job :last-child  {
    font-size: 16px;
}



#under-line .button-search img {
    padding-left: 0;
    padding-right: 16px;
}


/*#hr-3 {*/
/*    margin-left: 50%;*/
/*}*/


#section-3 {
    margin-top: 120px;
    margin-bottom: 120px;
}


.sec-3-4 {
    flex-direction: column;
}

.div-with-line.sec-3-4{
    gap: 8px;
}

.sec-3-4 h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 4px 0 40px 0;
    color: #1B1C57;
}


#three-articles {
    gap: 56px;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    margin-left: -370px;
}

.article-in-third {
    position: relative;
    /*width: 740px;*/
    /*height: 400px;*/
}

.large-article-photo {
    position: relative;
    width: 740px;
    height: 400px;
}


.container-into-section-3 {
    position: absolute;
    /*border: solid black;*/
    top: 256px;
    left: 0;
    display: flex;
    width: 612px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-left: 64px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #FFF;

    /* Shadow / Smooth */
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
}

.text-into-third h4{
    color: #1B1C57;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0 0 16px 0;
}


.text-into-third p{
    color: #626687;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.text-with-star {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 540px;
}


.star {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: end;
}

.star span {
    color: #3C4563;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
}


.star-button {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 24px;
    border: none;
    border-radius: 32px
}

#dots {
    padding-top: 150px;
    padding-left: 50%;
}




#h2-4 {
    width: 30%;
    /*justify-content: center; !* Center horizontally *!*/
    /*padding-left: 35%;*/
    text-align: center;
    margin: 4px 0 0 0;
}
#h2-4 h2 {
    margin: 4px 0 24px 0;
    text-transform: capitalize;
}

#header-section-4{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 0 40px 0;
}


#button-more {
    background-color: #10B981;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border: none;
    border-radius: 32px; /* Rounded corners */
    font-family: "Lexend", sans-serif;
    height: 48px;
}



#left-section-4 {
    margin: 0 120px;
    display: flex;
    flex-direction: row;
}


#container-3-articles {
    width: 50%;
}



.container-article {
    width: 50%;
    display: inline-block;
}


.image-article {
    /*width: 100%;*/
    border-radius: 16px;
    width: 200px;
}


.avatar-name {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.avatar-name img{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 16px;
}

.avatar-name span {
    color: #3C4563;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.main-text-article h2{
    padding-top: 12px;
    color: #1B1C57;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
    margin: 0;
}

#h2-villa {
    font-size: 24px;
}

.main-text-article p {
    color: #626687;
    /*font-size: 14px;*/
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    padding-top: 12px;
    margin: 0;
}

.clock {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.clock img{
    width: 24px;
    height: 24px;
    padding-right: 12px;
}

.clock span {
    color: #888B97;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

#article-villa {
    margin-left: 50px;
}


#villa {
    width: 560px;
}


#section-5 {
    margin: 120px;
    position: relative;
}

#big-poster {
    width: 100%;
}

#in-poster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#in-poster h2 {
    margin: 0;
    width: 70%;
    color: #1B1C57;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 150% */
    text-transform: capitalize;
}

#in-poster .search-location {
    border: none;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#in-poster .search-location input {
    width: auto;
}


footer {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
}

#main-footer {
    display: flex;
    flex-direction: column;
}

#logo {
    width: 115px;
    height: 36px;
    padding-bottom: 16px;
}

#main-footer span {
    width: 44%;
    color: #626687;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 24px;
}

#main-footer div {
    gap: 24px;
    display: flex;
    flex-direction: row;
}


#main-footer div a{
    text-decoration: none; /* Remove default underline */
    border: 1px solid white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#links {
    /*width: 70%;*/
    display: flex;
    flex-direction: row;
    gap: 88px;
    white-space: nowrap;
    /*justify-content: space-between;*/
    margin-bottom: 150px;
}

.div-in-links{
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.div-in-links h4{
    color: #0E1735;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0 0 6px 0;
}



.div-in-links a, .div-in-links span {
    color: #888B97;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;

}

